:root {
    --background: #23262e;
    --text: #d5ced9;
    --error: #ee5d43;
    --success: #96e072;
    --warning: #f1e66d;
    --highlight: #2e323d;
}

body {
    background-color: var(--background);
    font-family: "Roboto Mono", "Courier New", monospace;
    color: var(--text);

    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    z-index: 1;
}

.dropdown-button {
    width: 100%;
    padding: 5px;
}

.show {display:block;}

.dropdown-content button:hover {background-color: #ddd}

.incorrect{
    color: var(--error);
}

.extra {
    color: var(--warning);
}

.unwritten {
    color: var(--text);
}

.correct {
    color: var(--success);
}

.hidden_bars {
    display: none;
}

#text {
    color: var(--background);
}

#input{
    background-color: var(--highlight);
    border-color: var(--highlight);
    color: var(--highlight);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    grid-gap: 1em;
    padding: 20px;
}

.grid > div {
    background-color: var(--highlight);
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
}

td, th, tr {
    font-size: smaller;
    border: 2px solid var(--text);
    text-align: left;
    padding: 4px;
}

#bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/-2;  
    grid-row: 1/2; 
}

#botones{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    fill: var(--text);
}

.hij_botones > img:hover{
    height: 17pt;
    width: 17pt;
}

#main_grid {
    grid-auto-rows: minmax(450px, 450px);
    position: absolute;

}

#left {
    grid-column: 2/4;  
    grid-row: 2/-1; 
}

#center {
    font-size: 13px;
    grid-column: 4/10;  
    grid-row: 2/-1;  
}

#right {
    grid-column: 10/12;  
    grid-row: 2/-1; 
}

.lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--highlight);
}