:root {
    --background: #23262e;
    --text: #d5ced9;
    --error: #ee5d43;
    --success: #96e072;
    --warning: #f1e66d;
    --highlight: #2e323d;
}

body {
    background-color: var(--background);
    font-family: "Roboto Mono", "Courier New", monospace;
    color: var(--text);

    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--highlight);
    border: 1px solid var(--text);
    padding: 5px;
    border-radius: 10px;
    z-index: 1;
}

.dropdown-button {
    width: 100%;
    padding: 5px;
}

.show {display:block;}

.dropdown-content button:hover {
    background-color: #ddd;
}

.incorrect{
    color: var(--error);
}

.extra {
    color: var(--warning);
}

.unwritten {
    color: var(--text);
}

.correct {
    color: var(--success);
}

.extra-letter {
    color: var(--warning);
}

.cursor {
    border-right: 5px solid red;
}

.hidden_bars {
    display: none;
}

#text {
    color: var(--background);
    font-size: 2vw;
}

#form {
    /*margin-left: 5vw;
    margin-left: 5vw;*/
    width: 50vw;
    margin-bottom: 0vw;
    position: absolute;
    bottom: 15vh;
}

.input > input {

    background-color: var(--highlight);
    border-color: var(--highlight);
    color: var(--text);
}

.block {
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
}

.block > div {
    width: 95vw;
    background-color: var(--highlight);
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
}

td, th, tr {
    font-size: smaller;
    border: 2px solid var(--text);
    text-align: left;
    padding: 4px;
}

#bar {
    padding-left: 1vw;
    padding-top: 1.25vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    height: 7.5vh;
}

#bar > div {
    font-size: 3vh;
}

#botones{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    fill: var(--text);
}

.boton > img:hover{
    height: 3.2vh;
    width: 3.2vw;
}

.boton > img{
    height: 3vh;
    width: 3vw;
}

.imagen-dedo-centro {
    margin: auto;
}

#main_grid > div {
    height: 82.5vh;
}

#left {
    font-size: 1.5vw;
    width: 20vw;
    margin-right: 2.5vw;
}

#center {
    overflow-y: hidden;
    width: 60vw;
}

#right {
    font-size: 1.5vw;
    width: 20vw;
    margin-left: 2.5vw;
}

.lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    font-size: 0.5vw;
    padding: 0.5vh;
    height: 2.5vh;
    margin-top: 2.5vh;
    width: 100%;
    background-color: var(--highlight);
}

#chart {
    position: relative; 
    width: 100%;
    height: 40vh; 
}