{% extends "practica/layout.html" %}
{% load static %}

{% block menu_title %}
    <a href="{% url 'main_page' %}">MecanoPráctica</a>
{% endblock %}

{% block left_block %}
{% endblock %}

{% block main_block %}
<div class="main" id="center" style="width: 95vw; overflow-y: scroll; overflow-x: hidden;">
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-md-8" ><h3>Bienvenido a la página donde conseguirás mejorar tu productividad al escribir</h3> </div>
            <div class="col-6 col-md-4">
                <img style="width: 100%;" src="https://www.researchgate.net/profile/Mahmut_Eksioglu/publication/274641777/figure/fig1/AS:601677157650446@1520462421283/Standard-positions-of-the-fingers-on-a-conventional-QWERTY-keyboard-for-touch-typing.png"/>
            </div>
        </div>
        </br></br></br></br>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row" style="text-align: center;">
        </div>
        </br>
        <div class="w-100" style="display: flex;">

            <div style="margin: auto;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: smaller;">
                    Para jugar, debes iniciar sesión
                </button>
                <div class="dropdown-menu" style="background-color: var(--highlight); color: var(--text); border-width: 5px;">
                    <form class="px-4 py-3" action="{% url 'login'%}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="usuario">Nombre de usuario</label>
                            <input name="username" required="required" class="form-control form-control-sm" type="text" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password1">Contraseña</label>
                            <input name="password" required="required" type="password" class="form-control form-control-sm" id="password1">
                        </div>
                        </br>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                    <div class="dropdown-divider" ></div>
                    <a class="dropdown-item" href="{% url 'register' %}" style="color: var(--text);">¿Eres nuevo? Crea un usuario</a>
                </div> 
            </div>
            
            <div class="dropdown" style="margin: auto;">
                <a type="button" class="btn btn-secondary" href="{% url 'register' %}">Registrarse</a>
            </div>
    

            <div style="margin: auto;">
                <a style="margin: auto;" class="btn btn-secondary" href="{% url 'top_games' %}" role="button">Ver tablero</a> 
            </div>
        </div>
        <div class="row">
            
        </div>
        </br></br></br></br>
        <div class="row" style="text-align: center;">
            <div><h5>Descubre los modos de juego</h5></div>
        </div>
        </br>
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-6">
                <h4><a onclick="changeMode('Fácil')" href="{% url 'game_page' %}">Modo Fácil</a></h4></br>
                Familiarízate con el teclado antes de entrar a las ligas mayores. </br></br>
                Se trata de un modo diseñado especialmente para que aquellos que no se sienten tan cómodos con el teclado. </br>
                En la pantalla aparecerán las subcadenas más comúnes de las 10,000 palabras más utilizadas del español. </br>
                También se te mostrará una imagen que ilustra el dedo con el que deberás presionar la siguiente tecla. Así nunca tendrás que mirar al teclado.
            </div>
            <div class="col-6">
                <img src="{% static 'practica/media/modos/facil.png' %}" alt="Imagen del modo Fácil" style="width: 100%;"/>
            </div>
        </div>

        </br></br></br></br>

        <div class="row">
            <div class="col-6">
                <h4><a onclick="changeMode('100')" href="{% url 'game_page' %}">Las palabras más usadas</a></h4></br>
                Una vez que tengas dominado el teclado, puedes llevarlo al siguiente nivel. </br></br>
                Practicarás con las palabras más usadas del español, estas palabras aparecerán de manera aleatoria en la pantalla y tu deber es escribir con la mayor velocidad y precisión posibles. ¿Podrás romper tu récord?
            </div>
            <div class="col-6">
                <img src="hola" alt="Imagen del modo Palabras más usadas"/>
            </div>
        </div>

        </br></br></br></br>

        <div class="row">
            <div class="col-6">
                <h4><a onclick="changeMode('Glosario Informática')" href="{% url 'game_page' %}">Glosarios</a></h4></br>
                ¡Puedes repasar tus materias mientras practicas la mecanogafía! </br></br>
                En las partidas aparecerán conceptos relacionados con materias que van desde la Informática hasta la Historia. Afila tus conocimientos académicos mientras te diviertes escribiendo.
            </div>
            <div class="col-6">
                <img src="{% static 'practica/media/modos/glosario.png' %}" alt="Imagen del modo Glosario" style="width: 100%;"/>
            </div>
        </div>

        </br></br></br></br>

        <div class="row">
            <div class="col-6">
                <h4><a onclick="changeMode('Texto corto')" href="{% url 'game_page' %}">Textos</a></h4></br>
                Puedes elegir varios bancos de palabras, las más usadas del español, estas palabras aparecerán de manera aleatoria en la pantalla y tu deber es escribir con la mayor velocidad y precisión posibles. ¿Podrás romper tu récord?
            </div>
            <div class="col-6">
                <img src="{% static 'practica/media/modos/corto.png' %}" alt="Imagen del modo Textos" style="width: 100%;"/>
            </div>
        </div>

        </br></br></br></br>

        
    </div>
    
    </div>
        {% if warning %}
            <br/>
            <div class="alert alert-danger" role="alert">
                {{warning}}
            </div>
            {% endif%}
            {% if message %}
            <br/>
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif%}
    </div>
{% endblock %}

{% block right_block %}
{% endblock %}

{% block script1 %}
    <script src="{% static 'practica/landing_page.js' %}"></script>
{% endblock %}
