{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Practica</title>
        <link rel ="icon" href ="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fres.publicdomainfiles.com%2Fpdf_view%2F2%2F13494554416776.png&f=1&nofb=1" type ="image/x-icon"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'practica/styles.css' %}">
    </head>
    <body>
        <div class="grid">
            <div id="bar">
                <div><a style="font-size: large;" href="{% url 'main_page' %}">CoyoType xdxdxd</a></div>
                <div style="justify-self: center; font-size: large;">{% block menu_title %}{% endblock %}</div>
                <div id="botones">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" style="grid-column: -3; grid-row: 1;">
                            <img src="{% static 'practica/media/logout.svg' %}" alt="Cerrar sesión"/>
                        </a>
                    {% else %}
                        <a href="{% url 'register' %}" style="grid-column: -2; grid-row: 1;">
                            <img src="{% static 'practica/media/register.svg' %}" alt="Registrarse"/>
                        </a>
                        <a href="{% url 'login' %}" style="grid-column: -3; grid-row: 1;">
                            <img src="{% static 'practica/media/enter.svg' %}" alt="Iniciar sesión"/>
                        </a>
                    {% endif %}
                    <a href="{% url 'main_page' %}" style="grid-column: -4; grid-row: 1;">
                        <img src="{% static 'practica/media/settings.svg' %}" alt="Opciones"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid" id="main_grid">

            <div class="main" id="left">
                {% block left_block %}{% endblock %}
            </div>

            <div class="main" id="center">
                {% block main_block %}{% endblock %}
                {% if warning %}
                    <br/>
                    <div class="alert alert-danger" role="alert">
                        {{warning}}
                    </div>
                {% endif%}
                {% if message %}
                    <br/>
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endif%}
            </div>

            <div class="main" id="right">
                {% block right_block %}{% endblock %}
            </div>
        </div>
        
        <div class="lower" style="font-size: 10px; padding: 5px;">
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>  
    </body>
</html>