{% extends "practica/layout.html" %}
{% load static %}

{% block menu_title %}
    <a href="{% url 'main_page' %}">MecanoPráctica</a>
{% endblock %}

{% block left_block %}
{% endblock %}

{% block main_block %}
<div class="main" id="center" style="width: 95vw; overflow-y: scroll; overflow-x: hidden;">
    <div class="container">
        </br>
        <div class="row">
            <div class="col" style="display: flex;">
                <p style="font-size: 4vw; margin: auto;">¡Bienvenido, <strong>{{request.user}}</strong>!</p>
                
            </div>
        </div>
        </br></br></br>  
        <div class="row">
            <div class="w-100" style="display: flex;">
                <div style="margin: auto;">
                    <a type="button" class="btn btn-primary" href="{% url 'game_page' %}">Empezar a jugar</a>
                </div>
                <div style="margin: auto;">
                    <a type="button" class="btn btn-secondary" href="{% url 'user_page' %}">Ver estadísticas de usuario</a>
                    <a href="#"><i class="bi bi-question-circle"></i></a>
                </div>
                <div style="margin: auto;">
                    <a type="button" class="btn btn-secondary"  href="{% url 'top_games' %}">Ver tablero global</a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </a>
                        
                </div>
            </div>

        </div>
        </br></br></br>
        
        <div class="row">
            <div>
                <div style="text-align: center;"><h3>Tus estadísticas</h3></div>
                </br>
                
            </div>
        </div> 

        </br>
        <div class="row">
            <div id="modo" style="text-align: center;"></div>
        </div>
        </br>
        <div class="row">
            
            <div class="col" style="display: flex;">
                <div class="btn-group" id="dropdown-modos" style="margin: auto;">

                    <button type="button" class="btn btn-secondary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        Cambiar modo
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" style="background-color: var(--highlight); border: 2px solid var(--text); color: var(--text);">

                                    <div style="margin-left: 15px; margin-right: 15px;">
                                        <div>Modos de juego</div>
                                        {% for mode in modes %}
                                            <button style="color: var(--text);" name="mode" value="{{mode}}" onclick="changeMode(this.value)" class="dropdown-item dropdown-option">{{mode}}</button>
                                        {% endfor %}
                                    </div>

                                    <div style="margin-left: 30px; margin-right: 15px;">
                                        <div>Glosarios</div>
                                        {% for glosario in glosarios%}
                                            <button  style="color: var(--text);" name="mode" value="{{glosario}}" onclick="changeMode(this.value)" class="dropdown-item">{{glosario}}</button>
                                        {% endfor %} 
                                    </div>
                                    
                                </div>
                </div>
            </div>
        </div>
        </br></br></br>

        <div class="row">


            </br>
            <div style="display: flex;"><div id="tablero" style="margin: auto;"></div></div>
        </div>
        </br></br></br>
        <div class="row">
            
            <div id="graph" style="height: 40vh; width: 75%; position: relative;margin: auto;">
                <canvas id="histo"></canvas>
            </div>
            <div id="promedio-general" style="display: none;"></div>
        </div>
    </div>
    
    </div style="display: none;">
        {% if warning %}
            <br/>
            <div class="alert alert-danger" role="alert">
                {{warning}}
            </div>
            {% endif%}
            {% if message %}
            <br/>
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif%}
    </div>
{% endblock %}

{% block right_block %}
{% endblock %}

{% block script1 %}
    <script src="{% static 'practica/landing_page.js' %}"></script>
{% endblock %}

{% block script2 %}
    <script src="{% static 'practica/user_stats.js' %}"></script>
{% endblock %}

{% block script3 %}
    <script src="{% static 'practica/words_util.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {   
            // Selecciona el modo fácil en caso de que no haya ninguno guardado anteriormente.
            if (!localStorage.getItem('mode')) {
                localStorage.setItem('mode', 'Fácil')
            }

            // Inicializando el modo de estudio
            if (!localStorage.getItem('study-mode')) {
                localStorage.setItem('study-mode', 'false')
            }  

            mode = localStorage.getItem('mode')
            document.getElementById('modo').innerHTML = `Modo: ${mode}`
        });

    </script>
{% endblock %}
