{% extends "practica/layout.html" %}
{% load static %}

{% block menu_title %}Practica{% endblock %}

{% block left_block %}
<div class="main" id="left">
    {% if user.is_authenticated %}
        <div>Bienvenido, <strong>{{request.user}}</strong></div>
        </br>
        <div>Practicando: </div>
        <div style="font-size: 1.5vw;">{{finger}}</div>
        </br></br>
        <div id="left_info"></div>
    {% endif %}
</div>
{% endblock %}

{% block main_block %}
    <div class="main" id="center">
        {% if user.is_authenticated %}
            <div id="text"></div>
            
            <form id="form">
                <input value="" class="form-control form-control-lg input" type="text" autofocus onkeydown="keyPressed(event)">
            </form>

            <div id="results" style="white-space: pre; text-align: center;"></div>
        {% else %}
            <div style="font-size: 30px;">Inicia sesión para poder practicar</div>
        {% endif %}
    </div>
{% endblock %}

{% block right_block %}
    <div class="main" id="right">
        <strong>Consejo:</strong>
        <div>
            <p>{{ tip }}</p>
        </div>
    </div>
{% endblock %}

{% block script1 %}
    <script src="{% static 'practica/words.js' %}"></script>
{% endblock %}

{% block script2 %}
    <script src="{% static 'practica/main_menus.js' %}"></script>
{% endblock %}