{% extends "practica/layout.html" %}
{% load static %}

{% block menu_title %}Practica{% endblock %}

{% block left_block %}
    {% if user.is_authenticated %}
        <div>Bienvenido, <strong>{{request.user}}</strong></div>
        </br>
        <div>Practicando: </div>
        <div>Letra c</div>
        <div id="left_info"></div>
    {% endif %}
{% endblock %}

{% block main_block %}
    <!--<div style="font-size: 40px;">Hola gente</div>
    <button class="btn btn-sm btn-outline-primary" id="doscientos">200</button>
    <button class="btn btn-sm btn-outline-primary" id="mil">1000</button>
    <button class="btn btn-sm btn-outline-primary" id="diez_mil">10000</button>-->
    <div id="text" style="font-size: 25px;"></div>
    <div id="form"><input style="background-color:  #2e323d; color: #2e323d"class="form-control form-control-lg" type="text" autofocus onkeydown="keyPressed(event)"  style="vertical-align: bottom;"></div>
    <div id="results" style="font-size: 75px; text-align: center;"></div>
{% endblock %}

{% block right_block %}
    <div>Consejo: </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</div>
{% endblock %}

{% block script1 %}
    <script src="{% static 'practica/words.js' %}"></script>
{% endblock %}