{% extends "practica/layout.html" %}
{% block menu_title %}Registro de usuario{% endblock %}
{% block left_block %}
{% endblock %}

{% block main_block %}
    <div class="main" id="center" style="width: 95vw;">
        <div style="text-align: center;">Registra a un nuevo usuario</div>
        <form action="{% url 'register'%}" method="post">-
            {% csrf_token %}

            <div class="form-group">
                <label for="usuario">Nombre de usuario</label>
                <input name="username" required="required" class="form-control form-control-sm" type="text" id="username">
            </div>
            <div class="form-group">
                <label for="password1">Contraseña</label>
                <input name="password" required="required" type="password" class="form-control form-control-sm" id="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirmar Contraseña</label>
                <input name="confirmation" required="required" type="password" class="form-control form-control-sm" id="password2">
            </div>

            <label class="form-check-label" for="grupos">Seleccionar grupo(opcional)</label>
            <select id="grupos"class="form-control form-control-sm" name="group">
                <option value=null>No quiero elegir mi grupo</option>
                {% for group in groups %}
                    <option>{{group}}</option>
                {% endfor %}
            </select>
            </br>

            <button type="submit" class="btn btn-outline-primary btn-sm">Registrar Usuario</button>
        </form>
    </div>
{% endblock %}

{% block right_block %}
{% endblock %}