{% extends "practica/layout.html" %}
{% load static %}

{% block menu_title %}
    <a href="{% url 'main_page' %}">MecanoPráctica</a>
{% endblock %}

{% block left_block %}
{% endblock %}

{% block main_block %}
<div class="main" id="center" style="width: 95vw;">
    {% if user.is_authenticated %}
        <div class="container" style="max-width: 100vw;">
            <div class="row align-items-start" style="height: 10vh;">
                <div class="col" style="text-align: center;">
                    Estadísticas de <strong>{{request.user}}</strong>
                </div>
                <div class="col" style="display: flex;">
                    <div class="btn-group" id="dropdown-modos" style="margin-right:0px;">

                        <button type="button" class="btn btn-secondary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            Elegir modo de juego
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" style="background-color: var(--highlight); border: 2px solid var(--text); color: var(--text);">
                            <div>Glosarios</div>
                            {% for glosario in glosarios%}
                                <button  style="color: var(--text);" name="mode" value="{{glosario}}" onclick="changeMode(this.value)" class="dropdown-item">{{glosario}}</button>
                            {% endfor %} 
                            <div>Otros modos</div>
                            {% for mode in modes %}
                                <button style="color: var(--text);" name="mode" value="{{mode}}" onclick="changeMode(this.value)" class="dropdown-item">{{mode}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start" style="height: 55vh; width: 100%;">
                <div class="col-md-6">
                    <div id="graph" style="height: 55vh; width: 100%; position: relative;">
                        <canvas id="histo"></canvas>
                    </div>
                </div>
                <div class="col-md-6" id="tablero">
                    adsf
                </div>
            </div>
            <div class="row align-items-start" style="height: 10vh;">
                <div class="col" id="promedio-general" style="text-align: center;">
                    
                </div>
            </div>
      </div> 
    {% else %}  
        <div class="alert alert-warning" role="alert">
            Parece que no has iniciado sesión, debes hacerlo para poder ver tus estadísticas, inicia sesión aquí:
        </div>
        </br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" >
                <form class="px-4 py-3" action="{% url 'login'%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usuario">Nombre de usuario</label>
                        <input name="username" required="required" class="form-control form-control-sm" type="text" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password1">Contraseña</label>
                        <input name="password" required="required" type="password" class="form-control form-control-sm" id="password1">
                    </div>
                    </br>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'register' %}">¿Eres nuevo? Crea un usuario</a>
            </div> 
        </div>
    {% endif %}
    </div>
        {% if warning %}
            <br/>
            <div class="alert alert-danger" role="alert">
                {{warning}}
            </div>
            {% endif%}
            {% if message %}
            <br/>
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif%}
    </div>
{% endblock %}

{% block right_block %}
{% endblock %}

{% block script1 %}
    <script src="{% static 'practica/user_stats.js' %}"></script>
{% endblock %}


{% block script2 %}
    <script src="{% static 'practica/words_util.js' %}"></script>
{% endblock %}